<a href="https://colab.research.google.com/github/Iankcool5/DSC_110/blob/main/Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##### Copyright 2025 Google LLC.

In [ ]:
//This line of code prints the text "Hello World"

In [ ]:
print('Hello World')

Hello World

Variables

In this section, we'll discuss variables

In [ ]:
//In this section, We learned about variables. The first line of code assigns the variable a to word Boston. In the next line, the command print(a) prints the word Boston

In [ ]:
a = 'Boston'

In [ ]:
print(a)

Boston

In [ ]:
//In this line of code, we want to get the last letter of the word but sometimes if you dont know how long the word is you can put the variable and in brackets -1 and it'll give the last letter

In [ ]:
print(a[-1])

n

In [ ]:
//This is a basic line that solves a basic addition problem.

In [ ]:
2+3

5

In [ ]:
//This line assigns varibles to numbers

In [ ]:
b = 2
c = 3

In [ ]:
//After assigning the variables you can do basic addition by adding the variables together

In [ ]:
b+c

5

In [ ]:
//In this line we assigned the varible d to the function b+c. Bceause of this you can do print(d) which will print the function of the two variables that are already assigned to numbers

In [ ]:
d = b+c

In [ ]:
print(d)

5

In [ ]:
b=2
c=3
d=b+c
print(d)

5

In [ ]:
type(d)

int

In [ ]:
type(a)

str

In [ ]:
// This line of code is a basic multiplication function

In [ ]:
5**2

25

**Data Structures (Containers)**

In [ ]:
//This line of code generates a list of numbers and letters. The next line is the command used to print that list.

In [ ]:
My_List = [1, 2, 3, 5, 'a']

In [ ]:
print(My_List)

[1, 2, 3, 5, 'a']

In [ ]:
print(My_List)

**Tuples**

In [ ]:
My_Tuple=(1, 2, 3, 'a')

In [ ]:
print(My_Tuple)

(1, 2, 3, 'a')

**Dictionary**

In [ ]:
//This line of code creates a dictionary where words can be put and brought out

In [ ]:
My_Dictionary={
    'Name':"Heather",
    'Age': '35',
    'Gender': 'Female',
    'City':'Boston'
}

In [ ]:
My_Dictionary['Name']

'Heather'

**Sets**

In [ ]:
//The first line of code generates a set and print(My_Set). To get a specific part of the the set I created a list and then printed the list with the specific positions

In [ ]:
My_Set={1, 2, 3, 4, 5, 5}

In [ ]:
print(My_Set)

{1, 2, 3, 4, 5}

In [ ]:
My_List = list(My_Set)

In [ ]:
#We cannot access values in set by position
print(My_List[0])

1

**Functions**

In [ ]:
//The couple lines of code shows the function for temperture. In the thrid line of code we define turning celcius to farenhiet as c_temp, and using c_temp and the rest of the question we get f_temp

In [ ]:
temp = (4 * 9/5) + 32
print(temp)

39.2

In [ ]:
temp = (-6 * 5/9) + 32
print(temp)

28.666666666666668

In [ ]:
def c_to_f(c_temp):
  f_temp=(c_temp * (9/5)) + 32
  return f_temp

In [ ]:
f_temp = c_to_f(4)
print(f_temp)

39.2

**Formatted string literals**

In [ ]:
print(f'The temperature now is {c_to_f(35)}F')

The temperature now is 95.0F

**Loops**

In [ ]:
//these lines of code create a loop using the list

In [ ]:
My_Temp_List = [0, 10, 20, 30, 40]

In [ ]:
c_to_f(0)
c_to_f(10)

50.0

In [ ]:
for c_temp in My_Temp_List:
  print(c_to_f(c_temp))

32.0
50.0
68.0
86.0
104.0

**Calculating BMI**

In [ ]:
//these lines of code are used to calculate the BMI

In [ ]:
def calculate_BMI(height_m, weight_kg):
  BMI=weight_kg/(height_m**2)
  return BMI

In [ ]:
calculate_BMI(weight_kg=75,height_m=1.7)

25.95155709342561

In [ ]:
BMI = 18
if BMI < 20:
  print('Underweight')
else:
    print('Normal')

Underweight

**Libraries**

In [ ]:
import pandas as pd
import numpy as np;